body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 10%;
}

.centra{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.alinha{
  text-align: center;
}

.sombra{
  text-shadow: 2px 2px black;
}

.formulario{
	opacity: 0.95;
}

.footer-fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

@media (max-width: 600px) {
  footer{
    display: none;
	opacity: 0;
  }
}
